extends layout.pug
block content
    div.container.bodyCenter
        h3 Furniture
            a(name="Furniture")
        div.card
            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
            div
                h4 Living room
                p This is it    
        div.card
            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
            div
                h4 Living room
                p This is it
        div.card
            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
            div
                h4 Living room
                p This is it
        div.card
            img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
            div
                h4 Living room
                p This is it
    div.container.bodyCenter
        h3 Electronics
            a(name="Electronics")
        div.electronicCard
            img.cardimg(src="/img/ent.png", alt="Entertainment")
            div
                h4 Entertainment
                p This is it    
        div.electronicCard
            img.cardimg(src="/img/kitchen.png", alt="kitchen")
            div
                h4 Kitchen appliances
                p This is it
    div
        img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
        div
            h4 Living room
            p This is it

