extends layout.pug
block content
    div.card
        img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
        div
            h4 Living room
            p This is it    
    div.col-sm-12.col-md-6.col-lg-3
        img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
        div
            h4 Living room
            p This is it
    div.col-sm-12.col-md-6.col-lg-3
        img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
        div
            h4 Living room
            p This is it
    div.col-sm-12.col-md-6.col-lg-3
        img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
        div
            h4 Living room
            p This is it
    div.col-sm-12.col-md-6.col-lg-3
        img.cardimg(src="/img/sitting.png", alt="Living room Furniture")
        div
            h4 Living room
            p This is it

