doctype html
html
    head
        link(rel="stylesheet", href="/bootstrap-4.5.0-dist/bootstrap.css")
        link(rel="stylesheet", href="site.css")
        title Covid Stores
    body
        div.fullNav
            img.logo(src="img/logo.PNG", alt="Covid Stores logo")
            ul.navCovid
                li.navList
                    a(href="#") Bootique
                li.navList
                    a(href="#") Furniture
                li.navList
                    a(href="#") Electronics
                li.navList
                    a(href="#") About us
        div(id="logoCenter")
            img(src="img/logo.PNG", alt="Covid Store Logo")
        block content
    footer
        p © Biko Jeremy Biteete 